{{define "pagination"}}   
    <div class="section py-3 border-top">
        <a href="index.html" class="btn btn-sm btn-outline-default">Prev</a>
        <a href="index.html" class="btn btn-sm btn-outline-default float-right">Next</a>
    </div>
{{end}}