{{define "sidebar"}}
    <ul class="list-unstyled ml-5">
        <li class="mb-3">
            <h5>Categories</h5>
        </li>
        <li class="mb-3">
            <a href="term.html" class="btn btn-sm btn-secondary">Advice</a>
        </li>
        <li class="mb-3">
            <a href="term.html" class="btn btn-sm btn-secondary">Tech</a>
        </li>
        <li class="mb-3">
            <a href="term.html" class="btn btn-sm btn-secondary">Block Chain</a>
        </li>
    </ul>
{{end}}