{{define "content"}}
    <div class="section p-0 pt-5 m-0">
        <div class="card card-plain">
            <div class="card-body">
                <h2 class="card-title border-bottom"><a href="single.html">Page Title</a></h2>

                <p>The YC job board has always been the best way to find early roles at funded and vetted YC startups. This is especially true after a startup graduates from YC, raises an early round and starts to hire their founding team.</p>
                <p>Below are a few of the most recent YC startups (Winter '22 batch) hiring for founding engineers, with compensation in the $160-180K range and equity around 1.5-2.0%.</p>
                <p>To keep up with the newest YC startups hiring on the platform, create a profile on YC's job board and find yours.</p>

                <p><a href="https://www.ycombinator.com/companies/propelauth/jobs/tKWj4qx-founding-frontend-engineer"><strong>1.) Founding Frontend Engineer at PropelAuth (W22)</strong></a></p>
                <ul><li><strong>About the company: </strong>PropelAuth provides the right level of authentication for all stages of a company. New startups can use our hosted pre-built UIs which provide the simplest possible integration right out of the box.</li><li><strong>What stands out: </strong>Solo founder with eng and leadership experience from Palantir and SafeGraph. Deep experience in ML/NLP tech and product-led development. CMU grad.</li><li><strong>Comp &amp; equity: </strong>$130k - $160k, 0.50% - 2.00%</li></ul>                        

                <p class="card-subtitle text-muted"></p>
            </div>
            <ul class="list-group list-group-flush text-muted">
                <li class="list-group-item"><small>Lasted Update: August 5, Friday 2022</small></li>
            </ul>
        </div>
    </div>
{{end}}

{{define "headerStylesheets"}}{{end}}
{{define "headerJavascripts"}}{{end}}

{{define "footerStylesheets"}}{{end}}
{{define "footerJavascripts"}}{{end}}
