{{define "content"}}
    <div class="section p-0 pt-5 m-0">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="term.html">Library</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-9">
                <div class="card border">
                    <div class="card-body">
                        <h2 class="card-title pt-3"><a href="single.html">Card title</a></h2>
                        <p class="card-subtitle text-muted">By <a href="author.html">MyAuth</a> August 5, Friday 2022</p>
                        <p>
                            <img width="100%" src="https://www.ycombinator.com/blog/content/images/2022/07/6-founding-engineer-roles-at-W22-YC-startups--1--2.png" alt="" />
                        </p>

                        <p>The YC job board has always been the best way to find early roles at funded and vetted YC startups. This is especially true after a startup graduates from YC, raises an early round and starts to hire their founding team.</p>
                        <p>Below are a few of the most recent YC startups (Winter '22 batch) hiring for founding engineers, with compensation in the $160-180K range and equity around 1.5-2.0%.</p>
                        <p>To keep up with the newest YC startups hiring on the platform, create a profile on YC's job board and find yours.</p>

                        <p><a href="https://www.ycombinator.com/companies/propelauth/jobs/tKWj4qx-founding-frontend-engineer"><strong>1.) Founding Frontend Engineer at PropelAuth (W22)</strong></a></p>
                        <ul><li><strong>About the company: </strong>PropelAuth provides the right level of authentication for all stages of a company. New startups can use our hosted pre-built UIs which provide the simplest possible integration right out of the box.</li><li><strong>What stands out: </strong>Solo founder with eng and leadership experience from Palantir and SafeGraph. Deep experience in ML/NLP tech and product-led development. CMU grad.</li><li><strong>Comp &amp; equity: </strong>$130k - $160k, 0.50% - 2.00%</li></ul>                        
                    </div>
                    <ul class="list-group list-group-flush text-muted">
                        <li class="list-group-item">
                            Categories: 
                            <a href="term.html" class="badge badge-pill badge-secondary">Card link</a>
                            <a href="term.html" class="badge badge-pill badge-secondary">Another link</a>
                        </li>
                        <li class="list-group-item">
                            Tags: 
                            <a href="#" class="badge badge-pill badge-secondary">Card link</a>
                            <a href="#" class="badge badge-pill badge-secondary">Another link</a>
                        </li>
                    </ul>
                </div>

                {{ template "pagination" . }}
            </div>

            <div class="col-md-3">

                <h5>Other Posts</h5>
                <div class="card card-plain border-top">
                    <div class="card-body p-0 py-3">
                        <h6 class="card-title mb-2"><a href="single.html">Startups For Students Guide</a></h6>
                        <p class="card-text">
                            <a href="single.html" class="text-warning">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card card-plain border-top">
                    <div class="card-body p-0 py-3">
                        <h6 class="card-title mb-2"><a href="single.html">Meet top founders at YC Tech Talks: Healthcare</a></h6>
                        <p class="card-text">
                            <a href="single.html" class="text-warning">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>

                <h5>Popular Posts</h5>
                <div class="card border mb-3">
                    <div class="card-body">
                        <h6 class="card-title mb-2"><a href="single.html">Startups For Students Guide</a></h6>
                        <p class="card-text">
                            <a href="single.html" class="text-warning">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card border mb-3">
                    <div class="card-body">
                        <h6 class="card-title mb-2"><a href="single.html">Meet top founders at YC Tech Talks: Healthcare</a></h6>
                        <p class="card-text">
                            <a href="single.html" class="text-warning">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{{end}}

{{define "headerStylesheets"}}{{end}}
{{define "headerJavascripts"}}{{end}}

{{define "footerStylesheets"}}{{end}}
{{define "footerJavascripts"}}{{end}}
